@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* RESETS */ 

a:link {
    color: inherit; /* no blue default link color */ 
    text-decoration: none;
}

a:visited {
    color: inherit; /* no purple visited links */ 
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* GLOBAL */ 

body {
    font-family: 'poppins', sans-serif;
    font-weight: 200, 400, 600; 
    background-color: hsl(0, 0%, 98%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 100vw;
}

footer {
    font-size: 0.7em;
    display: flex; 
    justify-content: center;
}

/* END OF GLOBALS */ 

header {
    text-align: center;
    margin: 110px 20px 80px 20px;
}

header h1, h2 {
    /* font-size: 1.8em; */ 
    font-size: 1.3em;
}

header h1 {
    font-weight: 200;
    margin: 0px;
    color: hsl(229, 6%, 66%);
}

header h2 {
    margin: 0px;
    color: hsl(234, 12%, 34%);
    font-weight: 400;
}

header h3 {
    margin: 10px 0;
    font-weight: 200;
    color: hsl(229, 6%, 66%);
    font-size: 0.8em; 
}

main section.L-column {
    order: -1; /* omg this was so hard I did it */
}

article {
    box-shadow: 0 5px 10px 5px rgba(163, 165, 174, 40%);
    padding: 10px 20px;
    border-top: solid 5px;
    border-radius: 10px;
    margin: 20px;
    width: 18em;
}

h4 {
    font-size: 1.1em;
    color: hsl(234, 12%, 34%);
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 5px;
}

p {
    color:hsl(229, 6%, 66%);
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 30px;
    font-size: 0.7em;
}

img {
    margin: 0px 0px 0px 180px;
}

article.supervisor {
    border-top-color: hsl(180, 62%, 55%);
}

article.team-builder {
    border-top-color: hsl(0, 78%, 62%);
}

article.karma {
    border-top-color: hsl(34, 97%, 64%);
    display: inline-block; /* stops margin-collapsing with team-builder article card */ 
}

article.calculator {
    border-top-color: hsl(212, 86%, 64%);
}

@media screen and (max-width: 425px) {

    br {
        display: none;
    }
}

@media screen and (min-width: 426px) {

    header h1, h2 {
        margin: 0;
    }

    header h3 {
        font-size: 0.6em;
        height: auto;
        width: auto;
    }

    main {
        display: flex; 
        flex-flow: column wrap; 
        justify-content: center;
        align-items: center;
        height: 60vh;
        gap: 0px;
    }

    footer {
        display: none; 
        justify-content: center;
        align-items: flex-end;
    }
} 